<main-header></main-header>
<body class="bg-blue-300 montserrat pt-2">
  <div class="flex flex-wrap justify-around mx-16 items-center bg-white rounded-2xl mb-4 h-16">
    <span class="font-bold">Фильтры:</span>
    <div class="mx-4">
      <label class="pr-4" for="review-agregator">Платформа: </label>
      <select id="review-platform">
        <option>Любая</option>
        <option value="appstore">AppStore</option>
        <option value="google-play">Google Play</option>
        <option value="appgallery">AppGallery</option>
      </select>
    </div>
    <div class="mx-4">
      <label class="pr-4" for="review-language">Язык отзывов: </label>
      <select id="review-language">
        <option>Русский</option>
        <option>Английский</option>
      </select>
    </div>
    <div>
      <label class="pr-4" for="review-date">Дата: </label><input type="date" id="review-date">
    </div>
  </div>

  <div class="grid grid-cols-3 mx-32 gap-16 h-5/6">
    <div class="bg-white rounded-2xl p-2 flex flex-col items-center">
      <div class="font-bold mb-4">Приложения</div>

      <button *ngFor="let app of this.config.apps"
      class="w-11/12 rounded-xl flex items-center overflow-hidden mb-4 bg-gray-100"
      (click)="currentAppId=app.id">
        <img src="./assets/images/main/example/app-icon.svg" class="h-12 w-12 mr-4">
          {{app.name}}
      </button>
      
      <div *ngIf="!this.config.apps.length" class="text-center opacity-30">
        Кажется, у вас пока нету приложений. Попробуйте добавить их с помощью кнопки "+" внизу.
      </div>
      <button class="mt-auto mb-4" (click)="openAddAppModal('new')"><img src="./assets/images/main/plus.svg" alt=""></button>
    </div>
    <div class="col-span-2 bg-white rounded-2xl p-2">
      <app-reviews-block
      [AppId]="currentAppId">
      </app-reviews-block>
    </div>
  </div>
  
  <app-app-config-modal
  [AppId]="currentAppId">
  </app-app-config-modal>

</body>