body {
    height: calc(100vh - 56px);
    background: linear-gradient(to bottom, #C2DFF3, #F3CCE1);
}

.add-app-modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    border: 1px solid black;
    width: 640px;
  }