.bg-container {
    position: absolute;
}

.bg-container .bg-content {
    bottom: 0;
    width: 100%;
    height: 100%;
}

.bg-content{
  position: absolute;
}

.bg-content-text.faded{
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.bg-content-text:not(.faded){
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-color {
    border-color: #A23E7E;
}

.text-outline {
    text-shadow: 2px 2px 0 #000a;
}

.decor-container {
    position: relative;
}

.decor-1 {
    position: absolute;
    top: -100px;
    right: 100px;
}

.decor-2 {
    position: absolute;
    top: -150px;
    left: -150px;
}

.decor-3 {
    position: absolute;
    top: -200px;
    right: -100px;
}