.first-bg-container {
    position: relative;
}

.first-bg-container .first-bg-content {
    position: absolute;
    bottom: 0;
    background: #BC3A8088;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-color {
    border-color: #A23E7E;
}